<h1><%= t("password_change_mailer.changed_successfully.title") %></h1>

<p><%= t("password_change_mailer.changed_successfully.greeting", name: @user.name) %></p>

<p><%= t("password_change_mailer.changed_successfully.body_html") %></p>

<%= link_to t("password_change_mailer.changed_successfully.login_link"), @login_url, class: "login-button" %>

<p><%= t("password_change_mailer.changed_successfully.warning") %></p>

<p>
  <%= t("password_change_mailer.changed_successfully.regards") %><br>
  <%= t("password_change_mailer.changed_successfully.team_name") %>
</p>

<p><%= t("password_change_mailer.changed_successfully.footer_notice") %></p>
