<% provide(:title, t("contact.home.title")) %>
<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render "shared/user_info" %>
      </section>
      <section class="micropost_form">
        <%= render "shared/micropost_form" %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= render "shared/feed" %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1><%= t("contact.home.heading") %></h1>
    <h2>
      <%= t("contact.home.description_html", link: link_to("Ruby on Rails Tutorial", "http://www.railstutorial.org/")) %>
    </h2>
    <%= link_to t("contact.home.signup_button"), '#', class: "btn btn-lg btn-primary" %>
  </div>
<% end %>